@use './colors' as *;
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	// border:solid red 1px;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	background: $background;
}

body {
	min-height: 100vh;
	height: 100%;
	font-size: 1.6rem;
	font-family: 'Montserrat', sans-serif, Helvetica, Arial, sans-serif;
	background: linear-gradient(to top, #4481eb 0%, #04befe 100%) no-repeat;
}

@-webkit-keyframes shake {
	0% {
		opacity: 0;
	}
	1%,
	99% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	31% {
		opacity: 1;
	}
	10%,
	30%,
	50%,
	70% {
		-webkit-transform: translateX(-10px);
		transform: translateX(-10px);
	}
	20%,
	40%,
	60% {
		-webkit-transform: translateX(10px);
		transform: translateX(10px);
	}
	80% {
		-webkit-transform: translateX(8px);
		transform: translateX(8px);
	}
	90% {
		-webkit-transform: translateX(-8px);
		transform: translateX(-8px);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes shake {
	0% {
		opacity: 0;
	}
	1%,
	99% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	31% {
		opacity: 1;
	}
	10%,
	30%,
	50%,
	70% {
		-webkit-transform: translateX(-10px);
		transform: translateX(-10px);
	}
	20%,
	40%,
	60% {
		-webkit-transform: translateX(10px);
		transform: translateX(10px);
	}
	80% {
		-webkit-transform: translateX(8px);
		transform: translateX(8px);
	}
	90% {
		-webkit-transform: translateX(-8px);
		transform: translateX(-8px);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes show-result {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	padding-top: 20px;
	max-width: 300px;
}

.title {
	text-align: center;
	color: $text;

	&__logo {
		img {
			width: 80px;
		}
	}

	&__text {
		display: flex;
		flex-direction: column;
		h1 {
			font-size: 2rem;
		}
		p {
			padding-top: 5px;
			font-size: 1.7rem;
			font-weight: 600;
		}
	}
}

.main {
	.coupon {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 10px;
		padding-top: 10px;
		min-width: 250px;
		background-image: url('./../images/paper.webp');
		border-radius: 6px;
		box-shadow: 1px 1px 10px 0px #5e5e5e;

		&__name {
			padding: 5px 15px 5px 15px;
			text-transform: uppercase;
			background: $main-color;
			color: $red;
			border-radius: 6px;

			h3 {
				font-weight: 900;
			}
		}

		&__border {
			display: block;
			margin: 10px 0;
			width: 90%;
			height: 7px;
			background: $red;
			border-radius: 6px;
			opacity: 0.8;
		}

		&__numbers {
			padding: 0 20px;
			text-align: center;

			button {
				margin: 3px;
				width: 40px;
				height: 40px;
				font-family: 'DM Mono', monospace;
				font-size: 2rem;
				font-weight: 700;
				color: $red;
				background: none;
				border: 1px solid $red;
				cursor: pointer;
			}

			.cross {
				color: #000;
				background-image: url('./../images/cross.webp');
			}
		}
	}

	.play {
		display: flex;
		justify-content: center;
		margin: 20px auto;
		padding: 8px 20px;
		width: 100%;
		font-family: 'Montserrat', sans-serif, Helvetica, Arial, sans-serif;
		font-size: 1.5rem;
		font-weight: bold;
		text-transform: uppercase;
		color: $red;
		background-color: $main-color;
		border: none;
		border-radius: 6px;
		box-shadow: 1px 1px 10px 0px #5e5e5e;
		transition: 0.5s;
		cursor: pointer;
	}

	.play:hover {
		color: $text;
		background-color: #e4e6eb;
	}

	.again {
		display: none;
		justify-content: center;
		margin: 0 auto;
		max-width: 250px;
		text-align: center;
		animation: show-result 1s 2.4s both;
	}

	.ball {
		&__number {
			display: none;
			justify-content: center;
			align-items: center;
			margin-top: 20px;
			gap: 10px;

			&--1 {
				-webkit-animation: shake 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) 1 both;
				animation: shake 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) 1 both;
			}
			&--2 {
				-webkit-animation: shake 0.8s 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) 1 both;
				animation: shake 0.8s 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) 1 both;
			}
			&--3 {
				-webkit-animation: shake 0.8s 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) 1 both;
				animation: shake 0.8s 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) 1 both;
			}
			&--4 {
				-webkit-animation: shake 0.8s 1.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 1 both;
				animation: shake 0.8s 1.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 1 both;
			}
			&--5 {
				-webkit-animation: shake 0.8s 1.6s cubic-bezier(0.455, 0.03, 0.515, 0.955) 1 both;
				animation: shake 0.8s 1.6s cubic-bezier(0.455, 0.03, 0.515, 0.955) 1 both;
			}
			&--6 {
				-webkit-animation: shake 0.8s 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 1 both;
				animation: shake 0.8s 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 1 both;
			}

			.reset {
				box-shadow: 2px 2px 5px #5e5e5e;
			}

			p {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 40px;
				height: 40px;
				font-size: 1.6rem;
				font-weight: bold;
				text-decoration: underline;
				color: $text;
				background: $main-color;
				border-radius: 50%;
			}
		}
	}

	.receipt {
		display: none; // ma być flex;
		justify-content: space-between;
		margin: 15px auto;
		max-width: 250px;
		min-height: 300px;
		color: #686868;
		background-image: url('./../images/paper.webp');
		border-radius: 6px;
		box-shadow: 2px 4px 6px 0px #898989;
		overflow: hidden;
		animation: show-result 1s 2.4s both;

		&__border {
			font-weight: bold;
			color: #fff;
			background-color: #ffcdcd;
			writing-mode: vertical-rl;
		}

		&__main {
			display: flex;
			flex-direction: column;
			align-items: center;
			font-family: 'DM Mono', monospace;
			text-align: center;
			text-transform: uppercase;

			&-info,
			&-usernumbers {
				padding-top: 15px;
				font-size: 1.3rem;
			}

			&-logo {
				padding-top: 10px;
				max-width: 60px;
				filter: grayscale(1);
			}

			&-date {
				padding-top: 15px;
				font-size: 1.3rem;
			}

			.congrats {
				padding-top: 15px;
			}
		}
	}

	.history {
		display: none;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 15px;
		padding-bottom: 20px;
		font-weight: 600;
		animation: show-result 1s 2.4s both;

		p {
			padding-bottom: 8px;
		}
	}
}

.error {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: #1f19196b;

	&__box {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 300px;
		height: 140px;
		font-family: 'Montserrat', sans-serif, Helvetica, Arial, sans-serif;
		font-weight: 600;
		text-align: center;
		background: #e7e7e7;
		border-radius: 6px;

		&-close {
			position: absolute;
			top: 12px;
			right: 12px;
			width: 32px;
			height: 32px;
			opacity: 0.8;

			&:hover {
				opacity: 1;
			}
			&::before,
			&::after {
				content: ' ';
				position: absolute;
				width: 3px;
				height: 23px;
				background-color: $red;
			}
			&:before {
				transform: rotate(45deg);
			}
			&:after {
				transform: rotate(-45deg);
			}
		}

		&-name {
			margin-bottom: 15px;
			padding: 5px 15px 5px 15px;
			text-transform: uppercase;
			color: $red;
			background: $main-color;
			border-radius: 6px;

			h3 {
				font-size: 1.3rem;
				font-weight: 900;
			}
		}
	}
}

.display-flex {
	display: flex;
}

@media (min-width: 576px) {
	.wrapper {
		max-width: 500px;
	}
	.title {
		&__logo {
			img {
				width: 100px;
			}
		}
	}
	.main {
		.ball {
			&__number {
				p {
					width: 75px;
					height: 75px;
					font-size: 2rem;
				}
			}
		}
		.receipt {
			max-width: 300px;
		}
	}

	.error {
		&__box {
			width: 400px;
		}
	}
}

@media (min-width: 768px) {
	.wrapper {
		max-width: 700px;
	}
	.title {
		&__logo {
			img {
				width: 120px;
			}
		}
	}
	.main {
		.ball {
			&__number {
				p {
					width: 85px;
					height: 85px;
				}
			}
		}
	}
	.error {
		&__box {
			height: 120px;
		}
	}
}
