@use './colors' as *;
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	// border:solid red 1px;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-size: 1.6rem;
	font-family: 'Montserrat', sans-serif, Helvetica, Arial, sans-serif;
	background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
	min-height: 100vh;
	height: 100%;
}

@keyframes shake {
	0% {
		opacity: 0;
	}
	1%,
	99% {
		transform: translateX(0);
	}
	31% {
		opacity: 1;
	}
	10%,
	30%,
	50%,
	70% {
		transform: translateX(-10px);
	}
	20%,
	40%,
	60% {
		transform: translateX(10px);
	}
	80% {
		transform: translateX(8px);
	}
	90% {
		transform: translateX(-8px);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes show-result {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 1400px;
	margin: 0 auto;
}

.title {
	text-align: center;

	&__logo {
		img {
			width: 120px;
		}
	}

	&__text {
		display: flex;
		flex-direction: column;
		p {
			font-size: 2rem;
			color: #000;
			padding-top: 5px;
			font-weight: 600;
		}
	}
}

.main {
	.coupon {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-width: 250px;
		margin-top: 10px;
		padding-top: 10px;
		border-radius: 6px;
		box-shadow: 1px 1px 10px 0px #5e5e5e;
		background-image: url('./../images/paper.webp');

		&__name {
			padding: 5px 15px 5px 15px;
			background: $main-color;
			color: $red;
			text-transform: uppercase;

			h3 {
				font-weight: 900;
			}
		}

		&__border {
			display: block;
			width: 90%;
			height: 7px;
			margin: 10px 0;
			background: $red;
			opacity: 0.8;
		}

		&__numbers {
			text-align: center;
			padding: 0 20px;

			button {
				font-size: 20px;
				font-family: 'DM Mono', monospace;
				background: none;
				border: 1px solid $red;
				color: $red;
				font-weight: 700;
				width: 40px;
				height: 40px;
				margin: 3px;
				cursor: pointer;
			}

			.cross {
				background-image: url('./../images/cross.webp');
				color: #000;
			}
		}
	}

	.play {
		display: flex;
		justify-content: center;
		width: 100%;
		background-color: $main-color;
		border: none;
		margin-top: 25px;
		margin: 20 auto;
		border-radius: 6px;
		color: $red;
		font-size: 17px;
		padding: 10px 20px;
		transition: 0.5s;
		font-family: 'Montserrat', sans-serif, Helvetica, Arial, sans-serif;
		box-shadow: 1px 1px 10px 0px #5e5e5e;
		text-transform: uppercase;
		font-weight: bold;
		cursor: pointer;
	}

	.play:hover {
		background-color: #e4e6eb;
		color: #050505;
	}

	.again {
		display: none;
		max-width: 250px;
		text-align: center;
		margin: 0 auto;
		justify-content: center;
		animation: show-result 1s 2.4s both;
	}

	.ball {
		&__number {
			display: none;
			justify-content: center;
			align-items: center;
			gap: 10px;
			margin-top: 20px;

			&--1 {
				animation: shake 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) 1 both;
			}
			&--2 {
				animation: shake 0.8s 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) 1 both;
			}
			&--3 {
				animation: shake 0.8s 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) 1 both;
			}
			&--4 {
				animation: shake 0.8s 1.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 1 both;
			}
			&--5 {
				animation: shake 0.8s 1.6s cubic-bezier(0.455, 0.03, 0.515, 0.955) 1 both;
			}
			&--6 {
				animation: shake 0.8s 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 1 both;
			}

			.reset {
				box-shadow: 2px 2px 5px #5e5e5e;
			}

			p {
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 20px;
				width: 75px;
				height: 75px;
				border-radius: 50%;
				font-weight: bold;
				background: $main-color;
				color: #000000;
				justify-content: center;
				text-decoration: underline;
			}
		}
	}

	.receipt {
		display: none; // ma być flex;
		justify-content: space-between;
		background-image: url('./../images/paper.webp');
		max-width: 300px;
		margin: 15px auto;
		min-height: 300px;
		border-radius: 6px;
		overflow: hidden;
		color: #686868;
		box-shadow: 2px 4px 6px 0px #898989;
		animation: show-result 1s 2.4s both;

		&__border {
			writing-mode: vertical-rl;
			background-color: #ffcdcd;
			color: #fff;
			font-weight: bold;
		}

		&__main {
			display: flex;
			flex-direction: column;
			align-items: center;
			font-family: 'DM Mono', monospace;
			text-align: center;
			text-transform: uppercase;

			&-info,
			&-usernumbers {
				padding-top: 15px;
				font-size: 13px;
			}

			&-logo {
				padding-top: 10px;
				max-width: 60px;
				filter: grayscale(1);
			}

			&-date {
				padding-top: 15px;
				font-size: 13px;
			}

			.congrats {
				padding-top: 15px;
			}
		}
	}

	.history {
		display: none;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 15px;
		font-weight: 600;
		animation: show-result 1s 2.4s both;
	}
}

.error {
	display: none;
	position: absolute;
	justify-content: center;
	align-items: center;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: hsla(0, 11%, 11%, 0.418);

	&__box {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-family: 'Montserrat', sans-serif, Helvetica, Arial, sans-serif;
		font-weight: 600;
		background: rgb(231, 231, 231);
		width: 300px;
		height: 100px;
		border-radius: 6px;

		&-close {
			position: absolute;
			right: 10px;
			top: 10px;
		}

		&-name {
			padding: 5px 15px 5px 15px;
			margin-bottom: 15px;
			border-radius: 6px;
			background: $main-color;
			color: $red;
			text-transform: uppercase;

			h3 {
				font-size: 1.3rem;
				font-weight: 900;
			}
		}
	}
}

.display-flex {
	display:flex;
}